// Let users in plugdev group make and answer phone calls
polkit.addRule(function(action, subject) {
    if (/^org\.freedesktop\.ModemManager1\.(Control|Voice)$/.test(action.id) &&
        subject.isInGroup("plugdev") && subject.active) {
        return "yes";
    }
});

// Let geoclue modify ModemManager for location gathering
polkit.addRule(function(action, subject) {
    if (/^org\.freedesktop\.ModemManager1\.(Device\.Control|Location)$/.test(action.id) &&
        subject.isInGroup("geoclue")) {
        return "yes";
    }
});

